.contenedor{
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.cards{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    text-align:center;
    flex-direction: row;
    align-items: flex-end;  
    justify-content: space-between;
}