.nav{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-image:url('../asets/portal.jpg');
    width: 100%;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}

.buttonnav  { 
    
    border-radius: 5px;   
    background: #e8dc35;
    color:  #006789;
}
.buttonnav  h2{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 600; 
      font-size: 10px;
   
  }