.App{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
   align-items: center;
    margin:auto;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 11px;
    text-align:center;
    text-decoration: none;
}

body{
    background-image: url('../src/components/asets/back.jpg') ;
    
   background-size:cover;
    text-decoration: none;
 
  
}